@model List<PartialViewAjax.Models.Grade>
<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Grade
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
        </tr>
    }

</table>
